<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{titulo}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	<img [src]="sanitize(aluno.foto)"  height="150 px" width="150 px" (click)="buscarFoto()" *ngIf="aluno.foto" >
	<button ion-button (click)="buscarFoto()" *ngIf="!aluno.foto" >Buscar Foto</button> 
	<ion-item>
		<ion-label floating>Nome</ion-label>
		<ion-input [(ngModel)]="aluno.nome"></ion-input>
	</ion-item>
	<ion-footer>
		<ion-toolbar color="danger" (click)="cancelar()">
			<div style="text-align: center;">
				<ion-buttons >
					<button ion-button >Cancelar</button> 
				</ion-buttons>
			</div>

		</ion-toolbar>
		<ion-toolbar (click)="salvar()">
			<div style="text-align: center;">
				<ion-buttons >
					<button ion-button >Salvar</button> 
				</ion-buttons>
			</div>
		</ion-toolbar>
	</ion-footer>
</ion-content>
