<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{titulo}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	<ion-item>
		<ion-label floating>Nome</ion-label>
		<ion-input [(ngModel)]="curso.nome"></ion-input>
	</ion-item>
	<ion-item>
		<ion-label floating>Descrição</ion-label>
		<ion-input [(ngModel)]="curso.descricao"></ion-input>
	</ion-item>
  <button ion-button *ngIf="estaAlterando" (click)="onClickAlunosDoCurso()">Alunos</button> 
  <button ion-button *ngIf="estaAlterando" (click)="onClickAulasDoCurso()">Aulas</button> 
	<ion-footer>
		<ion-toolbar color="danger" (click)="cancelar()">
			<div style="text-align: center;">
				<ion-buttons >
					<button ion-button >Cancelar</button> 
				</ion-buttons>
			</div>

		</ion-toolbar>
		<ion-toolbar (click)="salvar()">
			<div style="text-align: center;">
				<ion-buttons >
					<button ion-button >Salvar</button> 
				</ion-buttons>
			</div>
		</ion-toolbar>
	</ion-footer>
</ion-content>
