<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Alunos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-item-sliding *ngFor="let aluno of alunos">
			<ion-item (click)="onClick(aluno);">
			  <ion-avatar *ngIf="aluno.foto" item-start>
				<img [src]="sanitize(aluno.foto)" item-start/>
			  </ion-avatar>
			  <ion-icon name="image" *ngIf="!aluno.foto"></ion-icon>
			  {{aluno.nome}}
			</ion-item>
			<ion-item-options side="left">
				<button color="danger" ion-button (click)="removerAluno(aluno);">Remover</button>
			</ion-item-options>
		</ion-item-sliding>
	</ion-list>
	<ion-footer>
		<ion-toolbar color="primary" (click)="adicionarAluno()">
			<div style="text-align: center;">
				<ion-buttons >
					<button ion-button>Adicionar</button> 
				</ion-buttons>
			</div>

		</ion-toolbar>
	</ion-footer>
</ion-content>
