<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{titulo}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Data</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY HH:mm" pickerFormat="DD/MM/YYYY HH:mm" [(ngModel)]="aula.dataHora"></ion-datetime>
  </ion-item>
  Professor
  <ion-item (click)="onClickProfessor();">
    <ion-avatar item-start *ngIf="aula.professor.foto">
      <img [src]="sanitize(aula.professor.foto)" item-start/>
    </ion-avatar>
	<ion-icon name="image" *ngIf="!aula.professor.foto"></ion-icon>
    {{aula.professor.nome}}
  </ion-item>
  Professor Back-up
  <ion-item (click)="onClickProfessorBackup();">
	<ion-avatar item-start *ngIf="aula.professorBackup.foto">
      <img [src]="sanitize(aula.professorBackup.foto)" item-start/>
    </ion-avatar>
	<ion-icon name="image" *ngIf="!aula.professorBackup.foto"></ion-icon>
    {{aula.professorBackup.nome}}
  </ion-item>
  <button ion-button *ngIf="estaAlterando" (click)="onClickAnotacoesDaAula()">Anotações</button> 
  <button ion-button *ngIf="estaAlterando" (click)="onClickPresencaDaAula()">Lista de Presença</button> 
	<ion-footer>
		<ion-toolbar color="danger" (click)="cancelar()">
			<div style="text-align: center;">
				<ion-buttons >
					<button ion-button >Cancelar</button> 
				</ion-buttons>
			</div>

		</ion-toolbar>
		<ion-toolbar (click)="salvar()">
			<div style="text-align: center;">
				<ion-buttons >
					<button ion-button >Salvar</button> 
				</ion-buttons>
			</div>
		</ion-toolbar>
	</ion-footer>
</ion-content>
